# Dependências
**/node_modules

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Runtime data
**/pids
**/*.pid
**/*.seed
**/*.log

# Diretório de build
**/dist

# Arquivos de ambiente
**/.env

# Editor directories and files
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?